@import url('../geral/dashboard.css');

#novo {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#novo-expositor form {
	padding: 10px;
}

#novo-expositor .input {
	margin-bottom: 15px;
}

#novo-expositor button {
	margin-top: 10px;
}